.login {
   
    height: 20px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(207, 70, 70, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
     
  }
  
  .loginForm {
    margin-bottom: 80%;
    margin-left: 80%;
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color:red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  #Email-Validation{
    visibility: hidden;
  }
.a{
  
  color: aliceblue;
  
}